DB_NAME= busTicket # might get error afterwards change DB_NAME = verdura
DM_USER= postgres
DB_PASS= root
DB_HOST= localhost
DB_PORT= 5432


#for Email
EMAIL_USER=bcoderunner@gmail.com
EMAIL_PASS=ddfs ppxy woch hfpt


#for JWT
JWT_SECRET = openssl rand -hex 64
JWT_EXPIRES_IN = 1m

STRIPE_SECRET_KEY =sk_test_51T7Ls8F5lqqwKxrFcUh1k46TtDgLUxbfusZJdvYgVAJNqptHFJQCkuPDXAM8mHs66t3aG9vonuShbS8vNAs2bOZ500YDxfhbTl

